*.iml
.gradle
/local.properties
/.idea
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/caches
.idea/navEditor.xml
.DS_Store
/build
/captures
.externalNativeBuild
.navigation/
# Built application files
*.apk
*.ap_
*.aab

*.dex
*.class

bin/
gen/
out/
release/